/* Portfolio page */

/* Portfolio header*/

.header-border {
border-bottom: 1px solid #ECECEC;;
}

.site-nav__link--current {
color: var(--accent-color);
}

/* portfilio main page */

/* Porfolio product filters */

.filter {
display: flex;
justify-content: center;

margin-right: auto;
margin-left: auto;
margin-bottom: 50px;
}

.button__secondary {
display: inline-block;
padding-right: 22px;
padding-left: 22px;
height: 38px;

font-weight: 500;
line-height: 1.62;
letter-spacing: 0.03em;

color: var(--primary-text-color);
background-color: var(--secondary-bg-color);
}

.button__secondary:hover,
.button__secondary:focus {
color: var(--primary-white-color);
background-color: var(--accent-color);
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button__secondary:not(:last-child) {
margin-right: 8px;
}

/* Portfolio product list */

.product {
display: flex;
flex-wrap: wrap;
align-items: center;
margin-right: auto;
margin-left: auto;
}

.product__item {
/* width: 370px; */
width: calc((100% - (30px * 2)) / 3);
margin-right: 30px;
margin-bottom: 30px;

background: var(--primary-white-color);
border-radius: 5px;
}

.product__item:hover ,
.product__item:focus {
box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.product__item:hover .product__thumb,
.product__item:focus .product__thumb {
animation-name: text-in;
animation-duration: 250ms;
animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
animation-fill-mode: forwards;
animation-play-state: running;
}

@keyframes text-in {
0%{
transform: translateY(276px);
}
100%{
transform: translateY(0);
}
}

.product__item:hover .product__wrap::before,
.product__item:focus .product__wrap::before {
animation-name: overlay-in;
animation-duration: 250ms;
animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
animation-fill-mode: forwards;
animation-play-state: running;
}

@keyframes overlay-in {
0% {
height: 0;
border-top-left-radius: 0;
border-top-right-radius: 0;
}
100% {
height: 294px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}
}

.product__item:nth-child(3n) {
margin-right: 0;
}

.product__item:nth-last-child(-n+3) {
margin-bottom: 0;
}

.product__wrap {
position: relative;
overflow: hidden;
}

.product__wrap::before {
display: inline-block;
position: absolute;
content: "";

bottom: 0;
left: 0;
width: 100%;

background: rgba(33, 150, 243, 0.9);

animation-name: overlay-out;
animation-duration: 250ms;
animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
animation-fill-mode: forwards;
animation-play-state: running;
}

@keyframes overlay-out {
0% {
height: 294px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}
100% {
height: 0;
border-top-left-radius: 0;
border-top-right-radius: 0;
}
}

.product__img {
display: block;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
}

.product__thumb {
position: absolute;
top: -18px;
bottom: 0;
width: 100%;
padding: 63px 24px;
font-size: 18px;
line-height: 1.56;

color: var(--primary-white-color);

animation-name: text-out;
animation-duration: 250ms;
animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
animation-fill-mode: forwards;
animation-play-state: running;

transform: translateY(294px);
}

@keyframes text-out{
0%{
transform: translateY(0);
}
100%{
transform: translateY(276px);
}
}

.product__meta {
display: block;
padding: 20px 24px;

border: 1px solid var(--portfolio-item-bg);
border-top: none;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
}

.product__name {
margin-top: 0;
margin-bottom: 4px;

font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;

color: var(--primary-text-color);
}

.product__desc {
margin: 0;
font-size: 16px;
line-height: 1.87;

color: var(--secondary-text-color);
}
